@font-face {
    font-family: 'Futura Book';
    src:
    url('../futura/FuturaBookC.woff') format('woff'),
    url('../futura/FuturaBookC.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
    }

@font-face {
    font-family: 'Futura Demi';
    src:
    url('../futura/FuturaDemiC.woff') format('woff'),
    url('../futura/FuturaDemiC.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
    }