.container
    width: 85%
    max-width: 1256px
    margin: auto

.row
    display: flex
    justify-content: space-between
.col
    &-35
        flex-basis: 35%
    &-50
        width: 50%
    &-35
        width: 35%