@media screen and ( max-width: 1200px )
    html
        font-size: 12px
    .nav
        &__item
            margin-right: 1rem
@media screen and ( max-width: 992px )
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0

@media screen and ( max-width: 767px )
    .row
        flex-direction: column
        align-items: center
    .col
        &-50
            width: 100%

    .types
        &__card 
            margin-bottom: 5rem
    .card
        &__text
            margin-left: 0
@media screen and ( max-width: 570px )
    html
        font-size: 10px
    .container
        width: 90%
    .contacts
        &__phone
            margin-right: 0
            color: $light
            text-decoration: none
        &__button
            display: none
    .title
        font-size: 1.6rem
    .hero
        height: 80vh
        &__scroll-down
            display: none
        &__content
            max-width: 22.86rem
        &__text
            font-size: 1.29rem
            margin-bottom: 2.28rem
        &__button
            display: block
            min-width: 22.86rem
            margin-bottom: 1.85rem
        &::after
            display: none
            
    .button-up
        padding: 1px
        margin: 7rem 0.2rem


    .section
        padding: 10px        
        &-title
            &__word
                &::after
                    display: none
    .swiper
        &-container
            margin-bottom: 2.857rem
        &-wrapper
            margin: 0
            padding-bottom: 3.428rem
        

@media screen and ( max-height: 520px )
    .hero
        &__scroll-down
            display: none
    .section
        padding: 10px
@media screen and ( max-height: 450px )
    .hero
        height: 130vh
    
    