.projects
    &--dark
        background: linear-gradient(to bottom, white 50%, black 50%);
.design
    &__text
        color: $dark
        text-transform: none
        margin: 1.4rem auto
        font-size: 1.386rem
        line-height: 1.92rem
        max-width: 53rem
        font-weight: normal
        font-family: 'FuturaBookC'
        margin-bottom: 3rem
        