.hero
    position: relative
    padding-top: 100px
    background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
    height: 100vh
    color $light
.instagram
    background-color: $dark
    display: flex
    justify-content: center
    align-items: center
    &__link
        text-transform: uppercase
        text-decoration: none
        color: $primary
        transform: rotate(90deg)
    &__instagram
    max-width: 80px
    height: 100%
    position: absolute
    left: 0
    top: 0
.title
    margin: 0

