.hero
    position: relative
    padding-top: 100px
    background: $dark url('../img/hero-bg.jpg') no-repeat center / cover
    height: 100vh
    color: $light
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    &__content
        max-width: 670px
    &__text
        font-size: 22px
        max-width: 500px
    &__button
        margin-right: 20px
        
.instagram
    background-color: $dark
    display: flex
    justify-content: center
    align-items: center
    &__link
        text-transform: uppercase
        text-decoration: none
        color: $primary
        transform: rotate(90deg)
    &__instagram
    max-width: 80px
    height: 100%
    position: absolute
    left: 0
    top: 0
    &__scroll-down
        position: absolute
        display: flex
        justify-content: center
        align-items: center
        button: 0
        left: 0
        min-width: 247px
        min-height: 97px
        background-color: $dark
        text-transform: uppercase
        text-decoration: none
        color: $light
.title
    margin: 0
    font-family: 'YesevaOne'
    text-transform: uppercase
    font-size: 40px
    &--primary
        color: $primary

