.team
    background: linear-gradient(to top, $light 50%, $dark 50%)
    padding-top: 38rem
    &__text
        margin: auto
        max-width: 32rem
        height: 3.143rem
        font-size: 1.428rem
        line-height: 1.929rem
        margin-top: 1.2rem
        margin-bottom: 6.5rem
    &__information
        padding-top: 5.143rem
        text-align: center
        max-width: 40.571rem
        height: 9.714rem
        margin: auto
        font-size: 1.428rem
        line-height: 2.428rem
        margin-bottom: 6.285rem
        &::before
            content: ''
            display: block
            margin: auto
            margin-bottom: 0.75rem
            width: 55px
            height: 2px
            background-color: $primary
            border-radius: 30px                

.info
    &__text
        position: relative
        text-align: center
        margin: 0 auto
        max-width: 16.643rem
        margin-top: -9.3rem
        background-color: $light
        box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05)
    &__title
        font-family: 'Yeseva One', cursive
        padding-top: 1.571rem
        font-size: 1.285rem
        margin-top: 0
        margin-bottom: 0.7rem
        color: $dark
    &__profession
        padding-bottom: 1.714rem
        color: $secondary
        line-height: 1.857rem
        font-size: 1.285rem
        font-family: FuturaBookC
        font-style: normal
        font-weight: normal
    &__experience
        background-color: $primary
        text-transform: uppercase
        padding: 1rem 2.03rem
        font-family: 'Yeseva One'
        font-style: normal
        font-weight: normal
    &__img
        display: flex
        justify-content: space-around
        align-items: center